@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-base-300;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.evops-tag {
  @apply text-neutral-content rounded-lg px-3 py-1 font-bold;
}

.evops-predef {
  @apply bg-blue-500;
}
